:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  font-family: 'Press Start 2P', sans-serif;
  box-sizing: border-box;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative; }
  @media (max-width: 75em) {
    body {
      max-width: 100; } }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  max-width: 120rem;
  margin: 3.4rem 0; }

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem; }
  .nav__link {
    color: var(--color-white);
    width: 4.4rem;
    height: 4.4rem;
    cursor: pointer; }
    .nav__link--1 {
      transition: all 0.2s; }
      .nav__link--1:hover {
        transform: translateX(-4px); }
    .nav__link--2 {
      transition: all 0.2s; }
      .nav__link--2:hover {
        transform: rotate(20deg); }
    @media (max-width: 75em) {
      .nav__link {
        font-size: 3.2rem; } }
    @media (max-width: 37.5em) {
      .nav__link {
        font-size: 3.2rem; } }
  .nav .blah {
    position: relative; }
  .nav__symbol {
    width: 200%;
    position: absolute;
    top: 240%;
    right: -50%; }
    .nav__symbol--link:link, .nav__symbol--link:visited {
      color: var(--color-white);
      cursor: pointer;
      text-decoration: none;
      font-size: 2.4rem; }
    .nav__symbol--ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      background-color: var(--color-white);
      padding: 1rem 2rem;
      border-radius: 6px; }
    .nav__symbol--item {
      list-style: none;
      cursor: pointer; }
      .nav__symbol--item:hover p {
        background-color: var(--color-black);
        color: var(--color-white); }
    .nav__symbol--type {
      color: var(--color-black);
      font-size: 2rem;
      border-radius: 6px;
      padding: 0.4rem 2rem; }
      .nav__symbol--type--1, .nav__symbol--type--2 {
        color: var(--color-red); }
  .nav__heading {
    color: var(--color-white);
    font-size: 6rem;
    text-transform: capitalize;
    margin-top: 2rem; }
    @media (max-width: 75em) {
      .nav__heading {
        font-size: 6rem; } }
    @media (max-width: 37.5em) {
      .nav__heading {
        font-size: 4rem; } }

.mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem; }
  @media (max-width: 75em) {
    .mode {
      flex-direction: column; } }
  .mode__card {
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 6rem 5rem;
    text-transform: capitalize;
    text-align: center; }
    @media (max-width: 75em) {
      .mode__card {
        padding: 2rem 1rem;
        margin: 0 2rem; } }
  .mode__mode {
    font-size: 6.4rem; }
    @media (max-width: 75em) {
      .mode__mode {
        font-size: 6.2rem; } }
    @media (max-width: 37.5em) {
      .mode__mode {
        font-size: 6.2rem; } }
  .mode__btn {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 4rem;
    margin-top: 4rem;
    padding: 1rem;
    transition: all 0.3s;
    border-radius: 11px; }
    @media (max-width: 75em) {
      .mode__btn {
        font-size: 4.2rem; } }
    @media (max-width: 37.5em) {
      .mode__btn {
        font-size: 4.2rem; } }
    .mode__btn:hover {
      cursor: pointer;
      transform: translateY(-2px); }

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem; }
  .board__container {
    display: grid;
    grid-template-columns: repeat(3, 160px); }
    @media (max-width: 75em) {
      .board__container {
        grid-template-columns: repeat(3, 120px); } }
  .board__text {
    font-size: 7.6rem;
    text-align: center;
    padding: 4rem;
    cursor: pointer; }
    @media (max-width: 75em) {
      .board__text {
        font-size: 6.6rem;
        padding: 5.4rem; } }
    @media (max-width: 37.5em) {
      .board__text {
        font-size: 5.2rem; } }
  .board__board--1 {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    border-left: 2px solid transparent; }
  .board__board--2 {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white); }
  .board__board--3 {
    border-top: 2px solid transparent;
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid transparent;
    border-left: 2px solid var(--color-white); }
  .board__board--4 {
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    border-left: 2px solid transparent; }
  .board__board--5 {
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white); }
  .board__board--6 {
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid var(--color-white);
    border-right: 2px solid transparent;
    border-left: 2px solid var(--color-white); }
  .board__board--7 {
    border-top: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent; }
  .board__board--8 {
    border-top: 2px solid var(--color-white);
    border-left: 2px solid var(--color-white);
    border-right: 2px solid var(--color-white);
    border-bottom: 2px solid transparent; }
  .board__board--9 {
    border-top: 2px solid var(--color-white);
    border-bottom: 2px solid transparent;
    border-left: 2px solid var(--color-white);
    border-right: 2px solid transparent; }

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem; }
  @media (max-width: 75em) {
    .score {
      gap: 4rem; } }
  .score__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 4rem; }
    @media (max-width: 75em) {
      .score__text {
        font-size: 2.2rem; } }
    @media (max-width: 37.5em) {
      .score__text {
        font-size: 2.2rem; } }
  .score__icon {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--color-white); }

.u-display-hide {
  display: none; }

.light-dark-mode__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-black);
  position: absolute;
  top: 4%;
  left: 4%;
  background-color: var(--color-white);
  padding: 0.6rem;
  border-radius: 100%;
  cursor: pointer; }
