:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 43.75%;
  }
}

body {
  font-family: 'Press Start 2P', sans-serif;
  box-sizing: border-box;
  background-color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  @include respond(tab-land) {
    max-width: 100;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  max-width: 120rem;
  margin: 3.4rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  &__link {
    color: var(--color-white);
    width: 4.4rem;
    height: 4.4rem;
    cursor: pointer;

    &--1 {
      transition: all 0.2s;

      &:hover {
        transform: translateX(-4px);
      }
    }

    &--2 {
      transition: all 0.2s;

      &:hover {
        transform: rotate(20deg);
      }
    }

    @include respond(tab-land) {
      font-size: 3.2rem;
    }

    @include respond(phone) {
      font-size: 3.2rem;
    }
  }

  .blah {
    position: relative;
  }

  &__symbol {
    width: 200%;
    position: absolute;
    top: 240%;
    right: -50%;

    &--link {
      &:link,
      &:visited {
        color: var(--color-white);
        cursor: pointer;
        text-decoration: none;
        font-size: 2.4rem;
      }
    }

    &--ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;

      background-color: var(--color-white);
      padding: 1rem 2rem;
      border-radius: 6px;
    }

    &--item {
      list-style: none;
      cursor: pointer;

      &:hover p {
        background-color: var(--color-black);
        color: var(--color-white);
      }
    }

    &--type {
      color: var(--color-black);
      font-size: 2rem;
      border-radius: 6px;
      padding: 0.4rem 2rem;

      &--1,
      &--2 {
        color: var(--color-red);
      }
    }
  }

  &__heading {
    color: var(--color-white);
    font-size: 6rem;
    text-transform: capitalize;
    margin-top: 2rem;

    @include respond(tab-land) {
      font-size: 6rem;
    }

    @include respond(phone) {
      font-size: 4rem;
    }
  }
}

.mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  @include respond(tab-land) {
    flex-direction: column;
  }

  &__card {
    background-color: var(--color-white);
    border-radius: 6px;
    padding: 6rem 5rem;
    text-transform: capitalize;
    text-align: center;

    @include respond(tab-land) {
      padding: 2rem 1rem;
      margin: 0 2rem;
    }
  }

  &__mode {
    font-size: 6.4rem;

    @include respond(tab-land) {
      font-size: 6.2rem;
    }

    @include respond(phone) {
      font-size: 6.2rem;
    }
  }

  &__btn {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 4rem;
    margin-top: 4rem;
    padding: 1rem;
    transition: all 0.3s;
    border-radius: 11px;

    @include respond(tab-land) {
      font-size: 4.2rem;
    }

    @include respond(phone) {
      font-size: 4.2rem;
    }

    &:hover {
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 160px);

    @include respond(tab-land) {
      grid-template-columns: repeat(3, 120px);
    }
  }

  &__text {
    font-size: 7.6rem;
    text-align: center;
    padding: 4rem;
    cursor: pointer;

    @include respond(tab-land) {
      font-size: 6.6rem;
      padding: 5.4rem;
    }

    @include respond(phone) {
      font-size: 5.2rem;
    }
  }

  &__board {
    &--1 {
      border-top: 2px solid transparent;
      border-bottom: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      border-left: 2px solid transparent;
    }

    &--2 {
      border-top: 2px solid transparent;
      border-bottom: 2px solid var(--color-white);
      border-left: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
    }

    &--3 {
      border-top: 2px solid transparent;
      border-bottom: 2px solid var(--color-white);
      border-right: 2px solid transparent;
      border-left: 2px solid var(--color-white);
    }

    &--4 {
      border-top: 2px solid var(--color-white);
      border-bottom: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      border-left: 2px solid transparent;
    }

    &--5 {
      border-top: 2px solid var(--color-white);
      border-bottom: 2px solid var(--color-white);
      border-left: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
    }

    &--6 {
      border-top: 2px solid var(--color-white);
      border-bottom: 2px solid var(--color-white);
      border-right: 2px solid transparent;
      border-left: 2px solid var(--color-white);
    }

    &--7 {
      border-top: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      border-bottom: 2px solid transparent;
      border-left: 2px solid transparent;
    }

    &--8 {
      border-top: 2px solid var(--color-white);
      border-left: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      border-bottom: 2px solid transparent;
    }

    &--9 {
      border-top: 2px solid var(--color-white);
      border-bottom: 2px solid transparent;
      border-left: 2px solid var(--color-white);
      border-right: 2px solid transparent;
    }
  }
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;

  @include respond(tab-land) {
    gap: 4rem;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 4rem;

    @include respond(tab-land) {
      font-size: 2.2rem;
    }

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
    color: var(--color-white);
  }
}

.u-display-hide {
  display: none;
}
