@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/**************************************/
/*  ELEMENTS  */
/**************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  max-width: 120rem;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
  line-height: 1;
  background-color: black;
  margin: 0 auto;
}

/**************************************/
/*  SELECTORS  */
/**************************************/

.nav-options {
  max-width: 200rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin-top: 2rem;
}

.nav-option {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.nav-option:hover {
  color: #eeeeee;
  cursor: pointer;
}

.primary-heading {
  color: #fff;
  font-size: 10rem;
  text-transform: capitalize;
  margin-top: 2rem;
}

.primary-heading:hover {
  color: #eeeeee;
  cursor: pointer;
}

.game-mode-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.game-mode-card {
  background-color: #fff;
  border-radius: 6px;
  padding: 8rem 5rem;
  text-transform: capitalize;
  text-align: center;
}

.game-mode {
  font-size: 6.4rem;
}

.play-button {
  color: #fff;
  background-color: #000;
  font-size: 4rem;
  margin-top: 4rem;
  padding: 1rem;
  transition: all 0.3s;
}

.play-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.display-hide {
  display: none;
}

.boards-box {
  display: grid;
  grid-template-columns: repeat(3, 160px);
}

.board {
  padding: 4rem;
  font-size: 8.6rem;
  text-align: center;
}

.board-1 {
  border-bottom: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-2 {
  border-bottom: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-3 {
  border-bottom: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
}

.board-4 {
  border-top: 2.4px solid #fff;
  border-bottom: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-5 {
  border-top: 2.4px solid #fff;
  border-bottom: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-6 {
  border-top: 2.4px solid #fff;
  border-bottom: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
}

.board-7 {
  border-top: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-8 {
  border-top: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
  border-right: 2.4px solid #fff;
}

.board-9 {
  border-top: 2.4px solid #fff;
  border-left: 2.4px solid #fff;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.player-text {
  font-size: 2rem;
  color: #fff;
  text-transform: capitalize;
  font-weight: 100;
  margin-bottom: 4rem;
}

.note {
  color: #fff;
}

/**************************************/
/*  RESPONSIVE DESIGN  */
/**************************************/

@media (max-width: 1000px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100rem;
  }

  .primary-heading {
    font-size: 2.6rem;
  }

  .game-mode-box {
    flex-direction: column;
  }

  .game-mode {
    font-size: 3.2rem;
  }

  .game-mode-card {
    padding: 2rem 1rem;
    margin: 0 2rem;
  }

  .play-button {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .nav-options {
    gap: 2rem;
  }

  .nav-option {
    font-size: 1.8rem;
  }

  .primary-heading {
    font-size: 2rem;
  }

  .score-box {
    gap: 2rem;
  }

  .player-text {
    font-size: 1.2rem;
  }

  .boards-box {
    grid-template-columns: repeat(3, 90px);
  }

  .board {
    padding: 3rem 4rem;
    font-size: 4.6rem;
  }

  .note {
    text-align: center;
    line-height: 1.2;
  }
}

/**************************************/
/**************************************/
